/* 
    Created on : 1/09/2017, 03:04:54 AM
    Author     : Carlos Nevarez
*/

/*Todo el ancho en text y password*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    float: left;
    width: 50%;
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/*Contenedor del formulario*/
.container {
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 20px;
}



/* Contendor de botones */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
        }
}

label {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    float: left;
}